$back-page-color: #101010;
$search-font: "Franklin Gothic";
$font-size-link-header: 10px;
$font-style: "Arial";
$font-link-color: #2884b5;
$font-size-text-article: 13px;


body {
    display: flex;
    justify-content: center; 
    margin: 0 auto;   
}


//Header
.page {
    background-color: $back-page-color;
    width: 1150px;
    height: 2260px;
}

.header {
    display: flex;
    width: 1000px;
    height: 57px;
    margin: 30px auto 0;
}

.logo {
    width: 671px;
    height: 58px;
    background-image: url(/dist/assets/header-logo.jpg);
    background-repeat: no-repeat;
}

.search-container {
    display: flex;
    background-color: #303030;
    height: 57px;
    width: 100%;
}

.search-text{
    padding: 20px 4px 20px 25px;
    font-size: 15px;
    font-family: $search-font;
    font-size: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.search {
    width: 120%;
    height: 35px;
    margin:  10px;
    background-color: #646464;
    border: 1px;
    padding: 1px;
}


//contents on the page
.content-page {
    display: flex;
    flex-direction: row;
    color: #000000;
    margin: 0 auto;
    width: 1000px;
    height: 1600px;
    background: #ffffff;
}

.article-img {
    margin: 35px 5px 0 20px;
    width: 210px;
    height: 210px;
    background-image: url(/src/image/page-image.jpg);
    background-repeat: no-repeat;
}

.article-text-container {
    width: 415px;
    height: 235px;
    padding: 4px;
    margin: 4px;
}

.link-page-header {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 18px 0 0;
    padding: 8px 10px;
}

.sidebar {
    width: 310px;
    height: 100%;
    padding: 10px;
}

.link-style {
    text-decoration: none;
    color: #000000;
    font-size: $font-size-link-header;
    font-family: $font-style;
    color:$font-link-color;
    margin: 20px 0 5px 0;
}

.page-link-text:not(:last-child):after {
    content: "/";
    padding: 5px;
    font-size: $font-size-link-header;
}   

.link-style:hover {
    text-decoration: underline;
}

.h3-article {
    font-family: $font-style;
    font-size: 30px;
    padding: 8px;
    margin: 10px 0;
}


.article-text {
    padding: 10px;
    font-size: $font-size-text-article;

}