$back-page-color: #101010;
$search-font: "Franklin Gothic";


body {
    display: flex;
    justify-content: center; 
    margin: 0 auto;   
}


//Header
.page {
    background-color: $back-page-color;
    width: 1150px;
    height: 2260px;
}

.header {
    display: flex;
    width: 1000px;
    height: 57px;
    margin: 30px auto 0;
}

.logo {
    width: 671px;
    height: 58px;
    background-image: url(/src/image/header-logo.jpg);
    background-repeat: no-repeat;
}

.search-container {
    display: flex;
    background-color: #303030;
    height: 57px;
    width: 100%;
}

.search-text{
    padding: 20px 4px;
    font-size: 15px;
    font-family: $search-font;
    font-size: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.search {
    width: 120%;
    height: 35px;
    margin:  10px;
    background-color: #646464;
    border: 1px;
    padding: 1px;
}


//contents on the page
.content-page {
    display: flex;
    flex-direction: row;
    color: #000000;
    margin: 0 auto;
    width: 1000px;
    height: 1600px;
    background: #ffffff;
}

.content {
    color: #000000;
    width: 671px;
    height: 100%;
    padding: 10px;
}

.sidebar {
    width: 329px;
    height: 100%;
    padding: 10px;
}